[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
newsapi-python = "*"
slack-sdk = "*"
pytz = "*"
python-dateutil = "*"
pytest = "*"
pytest-mock = "*"
slack-api = "*"

[dev-packages]

[requires]
python_version = "3.10"
